header {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 60px;
    background-color: rgb(98, 149, 214); 
    padding: 50px;
     margin: 20px;
}

